{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="add-new-content">
	
		<script src="{% static 'bootstrap/js/jquery-3.2.1.min.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ google_api_key }}" type="text/javascript"></script>

	<div class="get-involved-title-block" >
		<div class="container">	
			<h1 class="get-involved-title">Get Involved</h1>
			<div class="form-group">
			  <label for="comment">I want to...</label>
			  <select class="form-control" id="form_select">
			    <option value="newArtworkDiv" {% if url_name == "new_artwork" %}selected{% endif %}>Contribute to the map</option>
			    <option value="newMuralDiv"  {% if url_name == "new_muralcommission" %}selected{% endif %}>Commission a mural</option>
			    <option value="newWallSpace"  {% if url_name == "new_wallspace" %}selected{% endif %}>Provide legal wall space</option>
			    <option value="newArtistEOIDiv"  {% if url_name == "new_artistexpressionofinterest" %}selected{% endif %}>Register my interest as an artist</option>
			  </select>
			  </div>
		</div>
		<img class="get-involved-banner" src="{% static 'img/Contribute-banner.png' %}">
	</div>
	<div class="container">	

		<div class="contribute-div" id="newArtworkDiv" {% if url_name != "new_artwork" %}style="display: none;"{% endif %}>
			<h1>Contribute to the map</h1>
			<p>In order to keep this the up-to-date map of Christchurch street art, we need your help.
				<br><br>
			If you discover a new art work or noticed one's no longer viewable, please share this information with us. Everyone else who comes to this website will benefit from it too!
<br><br>
			How do we choose what art work to show on our website? We first ask ourselves, is this something the average person would stop and take a look at. If you're not sure whether to send in the image or not, send it in anyway.
<br><br>
			When you share an image with Watch This Space Trust, (WTS) you agree that WTS:<br>
			<ul>
				<li>Has the right to use your image on its website</li>
				<li>Has the right to share your image with third parties</li>
				<li>May choose not to include this image as part of the website</li>
			</ul>
			<br>
			The ideal image:<br>
			<ul>
				<li>Shows the full art work with no obstructions</li>
				<li>Could include additional close ups</li>
				<li>Is of good quality and high resolution</li>
			</ul>
			</p>
		    <form method="POST" class="artwork-form" enctype="multipart/form-data">{% csrf_token %}
		    	{{ artworkForm.media }}
		    	<p class="bs-component">
		            <div class="form-group">
		            	{{ artworkForm.submitter_description.errors }}
						<label class="control-label" for="id_{{ artworkForm.submitter_description.name }}">Tell us about this work of street art.</label>
						<textarea class="form-control"
						name="{{ artworkForm.submitter_description.name }}"
						id="id_{{ artworkForm.submitter_description.name }}" ></textarea>
						<p class="help-text">{{ artworkForm.submitter_description.help_text }} </p>
					</div>
					<div class="form-group">
		            	{{ artworkForm.submitter_name.errors }}
						<label class="control-label" for="id_{{ artworkForm.submitter_name.name }}">Your Name</label>
						<input type="text" class="form-control"
						name="{{ artworkForm.submitter_name.name }}"
						id="id_{{ artworkForm.submitter_name.name }}" required> 
						<p class="help-text">{{ artworkForm.submitter_name.help_text }} </p>
					</div>
					<div class="form-group">
		            	{{ artworkForm.submitter_email.errors }}
						<label class="control-label" for="id_{{ artworkForm.submitter_email.name }}">Your Email Address</label>
						<input type="email" class="form-control"
						name="{{ artworkForm.submitter_email.name }}"
						id="id_{{ artworkForm.submitter_email.name }}" required> 
						<p class="help-text">{{ artworkForm.submitter_email.help_text }} </p>
					</div>
					<div class="form-group">
		            	{{ artworkForm.image.errors }}
						<label class="control-label" for="id_{{ artworkForm.image.name }}">{{ artworkForm.image.label }}</label>
						{% render_field artworkForm.image class+="form-control" %}
						<p class="help-text">{{ artworkForm.image.help_text }} </p>
					</div>
		            <div>
		            	{{ artworkForm.location.errors }}
		                {{ artworkForm.location.label_tag }}
		                {{ artworkForm.location }}
		            </div>
		        </p>
		        <p class="bs-component">
		            <center>
		                <input class="btn btn-success btn-sm" type="submit" value="Submit" name="new_artwork"/>
		            </center>
		        </p>
		    </form>
		</div>

		<div class="contribute-div" id="newMuralDiv" {% if url_name != "new_muralcommission" %}style="display: none;"{% endif %}>
			<h1>Commission a New Mural</h1>
			<p>Has your business recently relocated back to the CBD? Do you want a mural in your home? Do you want to give back to Christchurch street art, but don't know how?  Consider commissioning a mural. We're here to help.
 <br><br>
Please complete the form below, and we’ll get back to you with artist recommendations for your project.</p>
		    <form method="POST" class="mural-form" enctype="multipart/form-data">{% csrf_token %}
		    	{{ muralCommissionForm.media }}
		    	<p class="bs-component">
		    		{% for field in muralCommissionForm %}
		            <div class="form-group">
		            	{{ field.errors }}
						<label class="control-label" for="id_{{ wallSpaceForm.title.name }}">{{ field.label }}</label>
						{% render_field field class+="form-control" %}
					</div>
					{% endfor %}
		        </p>
		        <p class="bs-component">
		            <center>
		                <input class="btn btn-success btn-sm" type="submit" value="Submit" name="new_muralcommission"/>
		            </center>
		        </p>
		    </form>
		</div>
		<div class="contribute-div" id="newWallSpace" {% if url_name != "new_wallspace" %}style="display: none;"{% endif %}>
			<h1>Offer Your Wall Space</h1>
			<p>Are you located in Christchurch? Do you have a building or wall space you're not using? Local muralists, graffiti artists, and creators of street art are always looking for legal spaces and free walls to create their art work on. And it's not just local artists, but international, traveling artists who contact us too, looking for wall space when they pass through Christchurch. Help us to provide blank canvases and legal walls so we can continue to keep Christchurch looking vibrant and lively.</p>
		    <form method="POST" class="mural-form" enctype="multipart/form-data">{% csrf_token %}
		    	{{ wallSpaceForm.media }}
		    	<p class="bs-component">
		    		{% for field in wallSpaceForm %}
		            <div class="form-group">
		            	{{ field.errors }}
						<label class="control-label" for="id_{{ wallSpaceForm.title.name }}">{{ field.label }}</label>
						{% render_field field class+="form-control" %}
					</div>
					{% endfor %}
		        </p>
		        <p class="bs-component">
		            <center>
		                <input class="btn btn-success btn-sm" type="submit" value="Submit" name="new_wallspace"/>
		            </center>
		        </p>
		    </form>
		</div>
		<div class="contribute-div" id="newArtistEOIDiv" {% if url_name != "new_artistexpressionofinterest" %}style="display: none;"{% endif %}>
			<h1>Express Your Interest as an Artist</h1>
			<p>Do you want to make a mural here in Christchurch? 
<br><br>
It's important to Watch This Space that the street art scene grows organically and learns to sustain itself. We want to do what we can to create opportunities for local and visiting artists to Christchurch and keep our city a vibrant, lively city.  
<br><br>
Through our website, locals and business owners can contact us to commission a mural, and we need artists like you to connect them with. </p>
		    <form method="POST" class="mural-form" enctype="multipart/form-data">{% csrf_token %}
		    	{{ artistExpressionOfInterestForm.media }}
		    	<p class="bs-component">
					{% for field in artistExpressionOfInterestForm %}
		            <div class="form-group">
		            	{{ field.errors }}
						<label class="control-label" for="id_{{ wallSpaceForm.title.name }}">{{ field.label }}</label>
						{% if field == artistExpressionOfInterestForm.project_types %}
							{% for value, text in field.field.choices %}
							  <div class="checkbox">
							    <label><input id="id_providers_{{ forloop.counter0 }}" name="{{ form.providers.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>{{ text }}</label>
							  </div>
							{% endfor %}
						{% else %}
							{% render_field field class+="form-control" %}
						{% endif %}
					</div>
					{% endfor %}
		        </p>
		        <p class="bs-component">
		            <center>
		                <input class="btn btn-success btn-sm" type="submit" value="Submit" name="new_artistexpressionofinterest"/>
		            </center>
		        </p>
		    </form>
		</div>
		<script>
		$( "#form_select" )
		  .change(function () {
		    $( "#form_select option:selected" ).each(function() {
		      $('#'+$( this ).val()).css({ display: "block" });
		      if ($('#form_select').val() == 'newArtworkDiv'){
				google.maps.event.trigger(locationmap.map,'resize')
				history.replaceState({}, null, '/artwork/new/');
		      }
		      else if ($('#form_select').val() == 'newMuralDiv') {
				google.maps.event.trigger(mural_locationmap.map,'resize')
				history.replaceState({}, null, '/muralcommision/new/');
		      }
		      else if ($('#form_select').val() == 'newWallSpace'){
				google.maps.event.trigger(wall_locationmap.map,'resize')
				history.replaceState({}, null, '/wallspace/new/');
		      }
		      else {
		      	history.replaceState({}, null, '/artistexpressionofinterest/new/');
		      }
		      
		    });
		    $('#form_select option:not(:selected)').each(function() {
		    	$('#'+$( this ).val()).css({ display: "none" });
		    });
		  })
		  .change();
		</script>
	</div>
	
</div>
	
    
{% endblock %}

