{% extends 'base.html' %}
{% load static %}

{% block content %}
	<link href="{% static 'lou-multi-select/css/multi-select.css' %}" media="screen" rel="stylesheet" type="text/css">

    <h1>New Artwork</h1>
    <script src="{% static 'bootstrap/js/jquery-3.2.1.min.js' %}"></script>
    <form method="POST" class="artwork-form" enctype="multipart/form-data">{% csrf_token %}
    	{{ artworkForm.media }}
    	<p class="bs-component">
            <div class="form-group">
            	{{ artworkForm.title.errors }}
				<label class="control-label" for="id_{{ artworkForm.title.name }}">{{ artworkForm.title.label }}</label>
				<input type="text" class="form-control"
				name="{{ artworkForm.title.name }}"
				id="id_{{ artworkForm.title.name }}" > 
				<p class="help-text">{{ artworkForm.title.help_text }} </p>
			</div>
			<div class="form-group">
				{{ artworkForm.artists.errors }}
                {{ artworkForm.artists.label_tag }}
                {{ artworkForm.artists }}
			</div>
			<div class="form-group"  id="newArtistRow" style="display: none;">
            	{{ artistForm.name.errors }}
				<label class="control-label" for="id_{{ artistForm.name.name }}">{{ artworkForm.title.label }}</label>
				<input type="text" class="form-control"
				name="{{ artistForm.name.name }}"
				id="id_{{ artistForm.name.name }}" > 
				<p class="help-text">{{ artistForm.name.help_text }} </p>
			</div>
			<div class="form-group">
            	{{ artworkForm.image.errors }}
				<label class="control-label" for="id_{{ artworkForm.image.name }}">{{ artworkForm.image.label }}</label>
				{{ artworkForm.image }}
				<p class="help-text">{{ artworkForm.image.help_text }} </p>
			</div>
			<div class="form-group">
            	{{ artworkForm.photo_credit.errors }}
				<label class="control-label" for="id_{{ artworkForm.photo_credit.name }}">{{ artworkForm.photo_credit.label }}</label>
				<input type="text" class="form-control"
				name="{{ artworkForm.photo_credit.name }}"
				id="id_{{ artworkForm.photo_credit.name }}" > 
				<p class="help-text">{{ artworkForm.photo_credit.help_text }} </p>
			</div>
            <div>
            	{{ artworkForm.location.errors }}
                {{ artworkForm.location.label_tag }}
                {{ artworkForm.location }}
            </div>
        </p>
        <p class="bs-component">
            <center>
                <input class="btn btn-success btn-sm" type="submit" value="Save" />
            </center>
        </p>
    </form>
    <script type="text/javascript">
		function addArtist(){
			$('#newArtistRow').toggle();
			$('#id_artists').prop('disabled', true);
			$('#minusCol').toggle();
			$('#plusCol').toggle();
		}
		function hideNewArtist(){
			$('#newArtistRow').toggle();
			$('#id_artists').prop('disabled', false);
			$('#minusCol').toggle();
			$('#plusCol').toggle();
			$('#id_name').empty();
		}
	</script>
	<script src="{% static 'lou-multi-select/js/jquery.multi-select.js' %}" type="text/javascript"></script>
	<script src="{% static 'lou-multi-select/js/jquery.quicksearch.js' %}" type="text/javascript"></script>
	<script type="text/javascript">
		/*$('#id_artists').multiSelect({
		  selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Search eg. \"John\"'>",
		  afterInit: function(ms){
		    var that = this,
		        $selectableSearch = that.$selectableUl.prev(),
		        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)';

		    that.qs = $selectableSearch.quicksearch(selectableSearchString)
		    .on('keydown', function(e){
		      if (e.which === 40){
		        that.$selectableUl.focus();
		        return false;
		      }
		    });
		  },
		  afterSelect: function(){
		    this.qs.cache();
		  },
		  afterDeselect: function(){
		    this.qs.cache();
		  }
		});*/
	</script>
{% endblock %}

