{% load comments %}
{% load comments_xtd %}
{% get_comment_count for art as comment_count %}
<div class="card-content">


<div class="comments-header">
	<p>Comments</p>
</div>
{% if comment_count %}
<hr>
<ul class="media-list">
  {% render_xtdcomment_tree for art allow_flagging allow_feedback show_feedback %}
</ul>
{% endif %}

<br>

<div class="comment">
{% if user.is_authenticated %}
	{% if user.email and user.email != "" %}
		<div class="well">
		{% render_comment_form for art %}
		</div>
	{% else %}
		<div class="cannot-comment-warning">To comment, please <a href="/settings">update your settings</a> to include your email address.</div>
	{% endif %}
{% else %}
	<div class="cannot-comment-warning">To comment, please log in.</div>
{% endif %}
</div>

</div>

<script type="text/javascript">
	$(".btn-primary").val("Submit");
	$(".btn-default").val("Preview Comment");
</script>

