{% extends 'nonhome.html' %}
{% load static %}

{% block sub-content %}
<div class="thanks-page">
	<h1 style="text-align: center;">Support Us</h1>
	<img class="get-involved-banner" src="{% static 'img/Contribute-banner.png' %}">

	<div class="container" style="text-align: center;">
		<div class="row">
		<br>
			
			<p>Watch This Space is a free street art resource made for you, by us, and we hope you've enjoyed it. We have put hours of spare time into photography, research, funding proposals, and website development.</p>
			<p>We are not backed by a company. We're just a bunch of individuals that came together to create this resource because we recognized there was nothing else like this available.</p>
			<p>If you enjoyed using this website, we hope you'll consider supporting our project, and continue to make this a free resource for everyone.</p>
			<p>Please consider donating to keep street art alive in {{ city }}!</p>
			<div class="control-group" style="padding-top: 50px">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="VEPBE4CN25BSQ">
					<input type="image" class="btn btn-lg btn-success" border="0" name="submit" alt="Donate">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
				<a href="/" type="button" class="btn btn-default">Back to the map</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}