{% extends 'base.html' %}
{% load leaflet_tags %}

{% block title %}Home{% endblock title %}

{% block content %}

    <h2>Homepage</h2>
    <p>Hello {{ user.username }}!</p>
    <div id="map" class="map-container"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ GEOPOSITION_GOOGLE_MAPS_API_KEY }}"
        type="text/javascript"></script>
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <script type="text/javascript">
        var map;
        function initialize() {
            var mapDiv = document.getElementById("map");
            var layer = "toner";
            map = new google.maps.Map(
                mapDiv, {
                    center: new google.maps.LatLng(-43.5314, 172.6365),
                    zoom: 12,
                    maxZoom: 18,
                    minZoom: 12,
                    mapTypeId: layer,
                    mapTypeControlOptions: {
                        mapTypeIds: [layer]
                    }
                });
            map.mapTypes.set(layer, new google.maps.StamenMapType(layer));
            google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);
        }

        function addMarkers() {
            {% for art in artwork %}
                var point = new google.maps.LatLng({{ art.latitude }}, {{ art.longitude }});
                var marker = new google.maps.Marker({
                    position: point,
                    map: map,
                    title: "{{ art.name }}",
                    label: "{{ forloop.counter }}",
                    animation: google.maps.Animation.DROP
                })

                marker['infowindow']  = new google.maps.InfoWindow({
                         content: "<h1>{{art.name}}</h1> <br><p>{{ art.description }}</p>",
                });
                google.maps.event.addListener(marker, 'mouseover', function() {
                    this['infowindow'].open(map, this);
                        });
                google.maps.event.addListener(marker, 'mouseout', function() {
                    this['infowindow'].close(map, this);

                });
            {% endfor %}
        }
        window.initialize();
    </script>
{% endblock %}