{% load comments %}
{% load comments_xtd %}
{% get_comment_count for art as comment_count %}
<div class="card-content">
<div class="comment">
{% if user.is_authenticated %}
  <div class="well">
    {% render_comment_form for art %}
  </div>
{% else %}
  <p class="cannot-comment-warning">To comment, please log in.</p>
{% endif %}
</div>
{% if comment_count %}
<hr/>
<ul class="media-list">
  {% render_xtdcomment_tree for art allow_flagging allow_feedback show_feedback %}
</ul>
{% endif %}
</div>

<script type="text/javascript">
	$(".btn-primary").val("Submit");
	$(".btn-default").val("Preview Comment");
</script>

