body {
    margin: 0;
    padding: 0;
}

#navbar_whole{
	position: relative;
}

.navbar-wrapper .navbar .menu-dropdown a { text-align: right; }

.map-container { /* all maps */
    width: 100%;
    height: 75%;
}

.thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.thumbnail .img-top {
    object-fit: cover;
    width: 100%;
    height: 400px;
}