certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
Django==1.10.7
django-classy-tags==0.8.0
django-cms==3.4.4
django-filer==1.2.8
django-formtools==2.0
django-leaflet==0.22.0
django-mptt==0.8.7
django-polymorphic==1.0.2
django-sekizai==0.10.0
django-treebeard==4.1.2
djangocms-admin-style==1.2.7
djangocms-attributes-field==0.3.0
djangocms-column==1.7.0
djangocms-file==2.0.2
djangocms-googlemap==1.1.1
djangocms-link==2.1.2
djangocms-picture==2.0.5
djangocms-snippet==1.9.2
djangocms-style==2.0.2
djangocms-text-ckeditor==3.5.0
djangocms-video==2.0.3
easy-thumbnails==2.3
html5lib==0.9999999
idna==2.5
oauthlib==2.0.2
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3
PyJWT==1.5.2
python3-openid==3.1.0
pytz==2017.2
requests==2.18.3
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
Unidecode==0.4.21
urllib3==1.22
