/*
*
*   StreetArt by Lab3 CSS
*   
*   Structure:
*   
*   - Elements
*   - Colors
*   - Navbar
*   - Split Page
*       - Right Panel
*       - Left Panel
*   - Cards
*   - Alt Images
*   - Gallery
*   
*   
*/
/*** Material Icons ***/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../material-design-icons/MaterialIcons-Regular.woff) format('woff'),
    url(../../material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Raleway/Raleway-Regular.ttf); /* For IE6-8 */
    src: local('Raleway'),
      local('Raleway-Regular'),
      url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Raleway/Raleway-Italic.ttf); /* For IE6-8 */
    src: local('Raleway'),
      local('Raleway-Italic'),
      url(../fonts/Raleway/Raleway-Italc.ttf) format('truetype');
  }


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*** Element ***/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow:hidden;
    background-color: black;
    background-image: radial-gradient(rgb(64, 64, 64) 0%, black 70%);
    font-family: Raleway, Roboto, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

a {
    cursor: pointer;
    color: yellow;
}

.main {
    height: 100%;
}

.none {
    display: none;
}

.preamble {
    color: white;
    text-align: center;
    padding: 10px 0px;
}

.preamble p {
    width: 70%;
    margin: auto;
}

/* loader animation */
.loader {
    position: absolute;
    top: 42%;
    left: 46%;
    z-index: 1000;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*** Material Icon Rules ***/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*** Navbar ***/

#navbar_whole{
	position: relative;
}

.navbar {
    margin-bottom: 0;
    min-height: 80px;
    border-width: 0px;
    border: none;
    border-image-width: 0;
    background-color: transparent;
}

.central-navbar {
    text-transform: uppercase;
    background-color: rgb(55, 55, 55);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-dropdown {
    position: absolute;
    width: 180px;
    height: auto;
    top: 83px;
    left: -50px;
    color: white;
    background-color: rgb(55, 55, 55);
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar-dropdown ul {
    padding: 0px;
}

.navbar-dropdown li {
    list-style: none;
    line-height: 50px;
    height: 50px;
    width: auto;
    color: white;
}

.navbar-dropdown li:hover {
    background-color: yellow;
    color: black;
}

.navbar-dropdown a {
    text-decoration: none;
}

.navbar-dropdown a:focus, .navbar-dropdown a:hover {
    text-decoration: none;
    color: black;
}

.user-dropdown{
    padding: 10px;
}

.user-dropdown>ul{
    top: 50%;
}

.navbar-item>a {
    font-size: 24pt;
    font-family: Raleway, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: white;
}

.navbar-wrapper .navbar-item>a {
    padding-bottom: 0;
    padding-top: 5px;
}

.central-navbar .navbar-nav {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display:table;
}

.central-navbar .navbar-item {
    width: 75px;
}


.navbar-nav>li {
    float: none;
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
}

.central-navbar .navbar-nav>li>a {
    padding: 10px 15px;
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    color: yellow;
    background-color: unset;
}

.navbar-nav>li>a>p {
    margin: 0px;
}


.header-image > img {
  max-height: 80px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

#button-facebook {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
  line-height: 33px;
}

.down-arrow {
    font-size: 20pt;
    line-height: 8px;
    color: rgb(166, 166, 166);
    z-index: 10000000;
}

.minimised-login {
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 991px) {
    .central-navbar {
        background-color: unset;
    }
    .central-navbar>.nav>li>a {
        padding: 15px 0 15px 0;
    }
    .navbar-dropdown {
        left: -60px;
    }
}

/*** Colours ***/

.white {
    color: white;
}

.black {
    color: black;
}

/*** Split page ***/

.split-page {
    width: 100%;
    height: calc(100% - 80px);
    background-color: transparent;
}

.scroll-container {
    height: calc(100% - 80px);
    overflow-x: scroll;
}

@media screen and (min-width: 992px) {
    .split-page {
        height: calc(100% - 224px);
    }
    
    .scroll-container {
        height: calc(100% - 224px);
    }
}

.expanding.transition {
    transition: transform 180ms ease-in;
}

.expanding-img.transition-img {
    transition: transform 400ms ease;
}


.left-panel, .right-panel {
    /*will-change: transform;*/

    /*-webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;*/
}

.left-panel-toggle {
    position: absolute;
    top: 40%;
    z-index: 1030;
    cursor: pointer;
    left: -57px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -ms-transform: rotate(-90deg) translateX(-100%);
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    background-color: yellow;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 10px;
}

.left-panel-toggle:before,
.left-panel-toggle:after {
  position: absolute;
  bottom: 1px;
  width: 20px;
  height: 20px;
  content: " ";
}
.left-panel-toggle:after, .left-panel-toggle:before {
    border: 1px solid transparent;
  }
.left-panel-toggle:before {
  left: -20px;
  border-bottom-right-radius: 10px;
  border-width: 0 1px 1px 0;
  box-shadow: 6px 2px 0 yellow;
}
.left-panel-toggle:after {
  right: -20px;
  border-bottom-left-radius: 10px;
  border-width: 0 0 1px 1px;
  box-shadow: -6px 2px 0 yellow;
}

.left-panel-cont {
    padding-left: 48px;
}
.right-panel-cont {
    /*padding-left: 100px;*/
}

.left-panel-link {
    top: 40%;
    position: absolute;
    width: 150px;
    z-index: 1030;
    cursor: pointer;
    text-align: center;
    left: -102px;
    transform-origin: right top;
    -webkit-transform-origin: right top;
    -ms-transform: rotate(90deg) translateX(100%);
    -webkit-transform: rotate(90deg) translateX(100%);
    transform: rotate(90deg) translateX(100%);
    background-color: yellow;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 10px;
}

.right-panel-link {
    top: 40%;
    position: absolute;
    right: -102;
    width: 150px;
    text-align: center;
    z-index: 1030;
    cursor: pointer;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -ms-transform: rotate(-90deg) translateX(-100%);
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    background-color: yellow;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 10px;
}

.right-panel-toggle {
    position: absolute;
    top: calc(40% + 80px);
    z-index: 1030;
    cursor: pointer;
    left: -57px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    -ms-transform: rotate(-90deg) translateX(-100%);
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    background-color: yellow;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 10px;
    white-space: nowrap;
}

.right-panel-toggle:before,
.right-panel-toggle:after {
  position: absolute;
  bottom: 1px;
  width: 20px;
  height: 20px;
  content: " ";
}
.right-panel-toggle:after, .right-panel-toggle:before {
    border: 1px solid transparent;
  }
.right-panel-toggle:before {
  left: -20px;
  border-bottom-right-radius: 10px;
  border-width: 0 1px 1px 0;
  box-shadow: 6px 2px 0 yellow;
}
.right-panel-toggle:after {
  right: -20px;
  border-bottom-left-radius: 10px;
  border-width: 0 0 1px 1px;
  box-shadow: -6px 2px 0 yellow;
}



@media screen and (max-width: 991px) {
    .left-panel-toggle {
        display: none;
    }
    .right-panel-toggle {
        display: none;
    }
}

.rotate-90 {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.full-width {
    width: 100%;
}

.full-width-minus-buttons {
    width: calc(100% - 48px);
}

.no-width {
    width: 0px;
}

/**** Right Panel ****/

.right-panel {
    padding: 0;
    height: inherit;
}
.right-content {
    margin-left: 48px;
    height: 100%;
    width: 100%;
    border-left-width: 10px;
    border-left-color: yellow;
    border-left-style: solid;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 991px) {
    .right-content{
        border: none;
        margin: 0;
    }
}
.map-container > div:first-child > div:first-child > div:first-child::after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, transparent 0%, #00000029 30%, black 100%);
    height: 100px;
    width: 100%;
    content: '';
    top: 0;
    z-index: 4;
  }

.map-container .gm-svpc {
    z-index: 10;
    background-color: yellow !important;
}

.map-container {
    width: 100%;
    height: 100%;
}

.map-container button{
    background-color: yellow !important;
}

.map-add {
    bottom: 20px;
    position: absolute;
    left: 50%;
}

.search-input{
    background-color: yellow;
    border: none;
    color: black;
}
.search { 
    position: relative; 
}
.search .fa-search { 
    position: absolute;
    top: 9px;
    right: 30px;
    font-size: 15px;
}

.selector-input button{
    background-color: yellow;
    text-transform: uppercase;
    border: none;
    color: black;
    width: 100%;
    font-size: 12px;
    font-stretch: condensed;
    text-shadow: none;
    line-height: 22px;
    font-weight: normal;
    white-space: nowrap;
}

.selector-input button > span {
    margin-right: 9px;
}


.selector-input button:hover, .selector-input button:focus, 
.selector-input button:active, .selector-input button:active:hover, 
.selector-input .open>.dropdown-toggle.btn-default{
    background-color: #d6d10b;
    text-transform: uppercase;
}

.filter-block {
    position: absolute;
    top: 6px;
    z-index: 1;
}

/**** Left Panel ****/

.left-panel {
    padding: 0;
    background-color: transparent;
    height: inherit;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}


@media screen and (max-width: 991px) {
  .left-panel {
    border-right: none;
    background-color: black;
  }
}

.title-block {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
}

.back-block {
    display: none;
    position: fixed;
    z-index: 1001;
}

.back-button-block {
    font-size: 3em;
    text-align: center;
    display: inline-block;
}
.back-span {
    display: inline-block;
}
.back-icon {
  float: left;
}
.back-text {
  float: left;
  text-decoration: none;
  color: white;
  line-height: 48px;
  padding: 0;
  margin: 0;
}
.back-text:hover {
  text-decoration: none;
}

.placeholder-image {
    height: 15%;
    display: block;
    margin: auto;
}

#lightboxOverlay {
    will-change: opacity;
}


@media screen and (max-width: 991px) {
    .mobile-hide {
        display: none;
    }
}

/*** Cards ***/

.card-holder {
    display: none;
    width: 100%;
    margin-top: 48px;
}

.card {
    background-color: transparent;
    margin: 10px;
    border-radius: 2px;
    text-align: center;
}

.main-image{
    max-height: 400px;
}

.alt-images-holder{
    margin-top: 0px;
    opacity: 0.7;
}

.card .card-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0 auto;
}

.card-image-link{
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    object-fit: contain;
    /*-webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;*/
    display: inline-block;
}

.card .overlay-title {
    position: absolute;
    padding: 5px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-right: 40px;
    z-index: 1;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3);
}

.card-image .overlay-fullscreen {
    position: absolute;
    padding: 5px;
    line-height: 1em;
    top: 0;
    right: 0;
}

.card-image .overlay-expand {
    position: absolute;
    padding: 5px;
    line-height: 1em;
    bottom: 0;
    left: 0;
}

.card-image .overlay-like {
    position: absolute;
    padding: 5px;
    margin-right: 36px;
    line-height: 1em;
    bottom: 0;
    right: 0;
}

.card-image .overlay-checkin {
    position: absolute;
    padding: 5px;
    line-height: 1em;
    bottom: 0;
    right: 0;
}

.card-image.main-card-image {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 5px 20px black;
    border-radius: 3px;
}

.card .card-details {
    display: none;
    background-color: transparent;
    text-align: center;
    color: white;
}

.card span.artwork-title {
    line-height: 32px;
    font-size: 18px;
    font-weight: 300;
}

.card span.artwork-artists {
    line-height: 32px;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 12px;
}

.card span[class*="-title"] {
    line-height: 32px;
    font-weight: 300;
    padding-bottom: 12px;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .value-title {
    font-weight: bold;
    text-transform: capitalize;
}

.card .card-action {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
  white-space: nowrap;
  height: 68px;
}

.card .card-action a {
  float: left;
  height: 36px;
}

.card-action-button{
    display: inline-block;
    padding: 5px 30px;
}


.card-action-button>a>p{
    font-size: 17px;
    color: white;
}

.card-action-button>a>p>i{
    padding: 3px 8px;
    font-size: 22px;
}

.card .like-checkin-count {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 5px;
  padding-left: 16px;
}


.nearest-artworks-header {
    display: inline-block;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    text-align: center;
    margin: 10px;
    color: white;
}

.nearest-artworks-header>p {
    font-size: 20px;
}


/*** Logo Page ***/

.logo-container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .logo-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.logo-card {
  display: inline-block;
}

.logo-image {
  max-height: 300px;
}

.logo-header {
  text-align: center;
}

.logo-intro {
  text-align: justify;
}

/*** Alt images ***/

#alt-images-card {
    white-space: nowrap;
    overflow-x: auto;
}

#alt-image {
    padding: 3px;
    padding-top: 0px;
    display: inline-block;
    float: none;
    height: 120px;
    width: auto;
    border-radius: 3px;
}

#alt-image > .img-responsive{
    max-height: 100%;
    width: auto;
}

/*** Gallery ***/

.scroll-gallery {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    /*transform: translateZ(0);*/
    will-change: transform;
}

.gallery-item {
    display: inline-block;
    position: relative;
    padding: 0;
}

.getinvolved-item {
    display: inline-block;
    position: relative;
    padding: 0;
}

.whatsnew-item {
    display: inline-block;
    position: relative;
    padding: 0;
}

.img-link {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 18px;
    right: 18px;
    transition: all 0.2s ease;
}
@media screen and (max-width: 991px) {
    .img-link {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        transition: all 0.2s ease;
    }
}

.img-link:hover {
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

.dummy {
    margin-top: 65%;
}

.archived-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.archived-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 5px 25px;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
}

.status-new {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-top: 60px solid yellow;
}

.new-text {
    position: absolute;
    right: 2px;
    top: 7px;
    text-transform: uppercase;
    color: black;
    transform: rotate(45deg);
}

.thumbnail-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    border-radius: 2px;    
}

.thumbnail-image:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.section-thumb-overlay {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    font-size: 17pt;
    font-weight: 300;
    line-height: 20pt;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

/*** Add New Form ***/
.get-involved-title-block{
  background-color: transparent;
}
.get-involved-banner{
  width: 100%;
  height: auto;
}
.get-involved-title{
    text-align: center;
    font-weight: 700;
    font-size: 80px;
}

.add-new-content{
    overflow: auto;
    height: 100%;
    padding-bottom: 100px;
    color: white;   
    will-change: transform;
}

.formFooter {
    display: none;
}

.contribute-div {
  padding-top: 50px;
}

/*** Settings Page ***/

.settings-page {
    overflow: auto;
    height: 100%;
    padding-bottom: 100px;
}

/*** Social Logins ***/

.button-social {
    width: auto;
    display: inline-block;
    padding: 0px 18px 0px 6px;
    border: 0 none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 250ms linear;
    margin-bottom: 12px;
    margin-right: 12px;
    color: white;
    height: 33px;
    line-height: 46px;
    position: relative;
    text-align: left;
}

.button-social .icon {
    margin-right: 12px;
    font-size: 24px;
    line-height: 24px;
    width: 42px;
    height: 24px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 4px;
}

.button-social .icon:before {
    display: inline-block;
    width: 40px;
}

.button-social .icon:after {
    content:"";
}

.button-social:hover {
    text-decoration: none;
}

.navbar-nav .button-facebook {
    background-color: #4b70ab;
    border: 1px solid #3b5988;
}

.navbar-nav .button-facebook:hover {
    color: white;
    background-color: #3b5988;
}

.button-facebook .icon {
    border-right:1px solid #3b5988;
}

.button-facebook .icon:hover {
    border-right:1px solid #4b70ab;
}

.button-twitter {
    background-color: #00A4EF;
    border: 1px solid #0093d6;
}

.button-twitter:hover {
    color: white;
    background-color: #0093d6;
}

.button-twitter .icon {
    border-right:1px solid #0093d6;
}

.button-twitter .icon:hover {
    border-right:1px solid #00A4EF;
}

/*** Snackbar ***/

.snackbar {
    visibility: hidden;
    width: 300px;
    margin-left: -150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadeup 0.5s, fadedown 0.5s 2.5s;
    animation: fadeup 0.5s, fadedown 0.5s 2.5s;
}

@-webkit-keyframes fadeup {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeup {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadedown {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadedown {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*** Widgets ***/

.mw-wrap{
    width: 100% !important;
}

/*** Floating Action Buttons ***/

.fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: white;
    color: rgb(158,158,158);
}

.fab.navbar-gallery {
    right: auto;
    left: 10px;
}

/*** Comments ***/

.comment h4 {
    display: none;
}

.comment button{
    outline: none;
    border: none;
}


form{
    padding: 1em;
}

.comment .form-control {
    display: block;
    width: 100% ;
    padding: 0.375rem 0.1rem !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #55595c !important;
    background-color: white !important;
    background-image: none !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #ccc !important;
}

.comment .form-control:focus{
    border-color: rgba(3, 161, 241, 1) !important;
}

.well{
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}
.well form{
    background-color: transparent;
    color: white;
}

.media-list > .media {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

/*** Side Navigation Menu ***/

.menu-toggle {
    height: 80px;
}

.menu-toggle i {
    line-height: 80px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.nav-header, .split-page {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/*** Alerts ***/
.alert{
    position: absolute;
    top: 80px;
    z-index: 10;
    width: 100%;
}

/*** Thanks Page ***/

.thanks-page {
    height: calc(100% - 80px);
    overflow: scroll;
    color: white;
}

.custom-page-content{
    color: white;
}

.yellow-donate-btn {
    background-color: yellow;
    width: 80px;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
    margin: 0;
    color: black;
    border-color: transparent;
    margin-right: 10px;
}
.yellow-donate-btn:hover, .yellow-donate-btn:active {
    background-color: rgb(199, 199, 0);
}

.custom-page-content form {
    margin: 0;
    padding: 4px;
}
.custom-page-content .fa-heart {
    float: left;
    font-size: 85px;
    margin: 20px 30px;
}