/*
*
*   StreetArt by Lab3 CSS
*   
*   Structure:
*   
*   - Elements
*   - Colors
*   - Navbar
*   - Split Page
*       - Right Panel
*       - Left Panel
*   - Cards
*   - Alt Images
*   - Gallery
*   
*   
*/


/*** Element ***/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow:hidden;
}

a {
    cursor: hand;
}

/*** Material Icon Rules ***/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*** Navbar ***/

#navbar_whole{
	position: relative;
}

.navbar-wrapper .navbar .menu-dropdown a {
    text-align: right;
}

.navbar {
    margin-bottom: 0;
}

/*** Colours ***/

.white {
    color: white;
}

/*** Split page ***/

.container {
    marign: 0 auto;
    width: 100%;
    height: calc(100% - 50px);
}

.row {
    height: 100%;
}


.left-panel, .right-panel {
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.left-panel-toggle {
    position: absolute;
    top: 50%;
    z-index: 1030;
    cursor: pointer;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

@media screen and (max-width: 991px) {
    .left-panel-toggle {
        display: none;
    }
}

.rotate-180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.full-width {
    width: 100%;
}

.no-width {
    width: 0px;
}

/**** Right Panel ****/

.right-panel {
    padding: 0;
    height: inherit;
}

.map-container {
    width: 100%;
    height: 100%;
}

.map-add {
    bottom: 20px;
    position: absolute;
    left: 50%;
}

.filter-block {
    top: 0;
    position: absolute;
    z-index: 1;
}

/**** Left Panel ****/

.left-panel {
    padding: 0;
    background-color: #484848;
    height: inherit;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.title-block {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
}

.back-block {
    width: 100%;
    display: none;
}

.back-button-block {
    font-size: 2em;
    text-align: center;
    padding-top: 15px;
    display: inline-block;
    width: 100%;
}
.back-span {
    display: inline-block;
}

.placeholder-image {
    height: 15%;
    display: block;
    margin: auto;
}



/* This corrects the container height for mobile devices */
@media screen and (max-width: 991px) {
    .mobile-hide {
        display: none;
    }
}

/*** Cards ***/

.card-holder {
    display: none;
    width: 100%;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    margin: 10px;
    border-radius: 2px;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 30%;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.card-image .overlay {
    position: absolute;
    padding: 5px;
}

.card .overlay-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 40px;
    z-index: 1;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3);
}

.card-image .overlay-fullscreen {
    line-height: 1em;
    top: 0;
    right: 0;
}

.card-image .overlay-expand {
    line-height: 1em;
    bottom: 0;
    left: 0;
}

.card-image .overlay-like {
    margin-right: 36px;
    line-height: 1em;
    bottom: 0;
    right: 0;
    color: #F44336;
}

.card-image .overlay-checkin {
    line-height: 1em;
    bottom: 0;
    right: 0;
}

.card .card-details {
    display: none;
}

.card span.card-title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}

.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

/*** Alt images ***/

#alt-images-card {
    white-space: nowrap;
    overflow-x: auto;
}

#alt-image {
    padding: 10px;
    display: inline-block;
    float: none;
}

/*** Gallery ***/

.scroll-gallery {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

.gallery-item {
    padding: 10px;
}

.gallery-item img {
    object-fit: cover;
    width: 100%;
    height: 20%;
}

/*** Add New Form ***/

.add-new-content{
    overflow: auto;
    height: 100%;
}

.formFooter {
    display: none;
}

/*** Social Logins ***/

.button-social {
    width: auto;
    display: inline-block;
    padding: 0px 18px 0px 6px;
    border: 0 none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 250ms linear;
    margin-bottom: 12px;
    margin-right: 12px;
    color: white;
    height: 50px;
    line-height: 46px;
    position: relative;
    text-align: left;
}

.button-social .icon {
    margin-right: 12px;
    font-size: 24px;
    line-height: 24px;
    width: 42px;
    height: 24px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 4px;
}

.button-social .icon:before {
    display: inline-block;
    width: 40px;
}

.button-social .icon:after {
    content:"";
}

.button-social:hover {
    text-decoration: none;
}

.button-facebook {
    background-color: #4b70ab;
    border: 1px solid #3b5988;
}

.button-facebook:hover {
    color: white;
    background-color: #3b5988;
}

.button-facebook .icon {
    border-right:1px solid #3b5988;
}

.button-facebook .icon:hover {
    border-right:1px solid #4b70ab;
}

.button-twitter {
    background-color: #00A4EF;
    border: 1px solid #0093d6;
}

.button-twitter:hover {
    color: white;
    background-color: #0093d6;
}

.button-twitter .icon {
    border-right:1px solid #0093d6;
}

.button-twitter .icon:hover {
    border-right:1px solid #00A4EF;
}

