{% extends 'base.html' %}

{% block content %}
<div class="settings-page">
  <h2>Settings</h2>
  <form method="POST" class="settings-form" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group">
      <label class="control-label" for="id_{{ user.username }}">Username</label>
      <input class="form-control" type="text" id="id_{{ user.username }}" value="{{ user.username }}" disabled>
    </div>
    <div class="form-group">
      <label class="control-label" for="id_{{ settingsForm.first_name.name }}">First Name</label>
      <input class="form-control" type="text" name="{{ settingsForm.first_name.name }}" id="id_{{ settingsForm.first_name.name }}" value="{{ settingsForm.first_name.value }}">
      <p class="help-text">{{ settingsForm.first_name.help_text }} </p>
      {{ settingsForm.first_name.errors }}
    </div>
    <div class="form-group">
      <label class="control-label" for="id_{{ settingsForm.last_name.name }}">Last Name</label>
      <input class="form-control" type="text" name="{{ settingsForm.last_name.name }}" id="id_{{ settingsForm.last_name.name }}" value="{{ settingsForm.last_name.value }}">
      <p class="help-text">{{ settingsForm.last_name.help_text }} </p>
      {{ settingsForm.last_name.errors }}
    </div>
    <div class="form-group">
      <label class="control-label" for="id_{{ settingsForm.email.name }}">Email</label>
      <input class="form-control" type="email" name="{{ settingsForm.email.name }}" id="id_{{ settingsForm.email.name }}" value="{{ settingsForm.email.value }}">
      <p class="help-text">{{ settingsForm.email.help_text }} </p>
      {{ settingsForm.email.errors }}
    </div>
    <input class="btn btn-success btn-sm" type="submit" value="Save" />
  </form>

{% endblock %}