{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
    	{{ form.username.errors }}
    </div>
    <div>
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
    	{{ form.first_name.errors }}
    </div>
    <div>
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
    	{{ form.last_name.errors }}
    </div>
    <div>
        {{ form.email.label_tag }}
        {{ form.email }}
    	{{ form.email.errors }}
    </div>
    <div>
        {{ form.birth_date.label_tag }}
        {{ form.birth_date }}
    	{{ form.birth_date.errors }}
    </div>
    <div>
        {{ form.password1.label_tag }}
        {{ form.password1 }}
    	{{ form.password1.errors }}
    </div>
    <div>
        {{ form.password2.label_tag }}
        {{ form.password2 }}
    	{{ form.password2.errors }}
    </div>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}